<h3>{{ message }}</h3>
<form action="/edit_test/{{ test['id'] }}" method="POST">
    <select name="creator" >
        {% for teacher in teachers %}
            <option value="{{ teacher['username'] }}">{{ teacher['username'] }}</option>
        {% endfor %}
    </select> <br><br>
    <input type="text" name="q1" placeholder="Enter Question 1" required value = {{ test['q1'] }}> <br>
    <input type="text" name="q2" placeholder="Enter Question 2" required value = {{ test['q2'] }}> <br>
    <input type="text" name="q3" placeholder="Enter Question 3" required value = {{ test['q3'] }}> <br><br>
    <input type="submit" value="Submit">
</form>